@font-face {
  font-family: "OpenSans"; /* You can name it anything */
  src: url("/public/fonts/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

/* Use the custom font */
body {
  font-family: "OpenSans", Arial, sans-serif;
}

.App-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 3em;
  background-color: transparent;
  color: white;
}
/* Default size */
.logo img {
  width: 100px;
  height: auto;
}

/* Medium screens */
@media (max-width: 768px) {
  .logo img {
    width: 80px;
    height: auto;
    margin-top: -10px;

  }
}

/* Small screens (e.g., mobile devices) */
@media (max-width: 480px) {
  .logo img {
    width: 75px;
    height: auto;
    margin-top: -10px;

  }
  .App-header{
    padding-left: 1em;
    padding-right: 1.2em;
  }
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 5em;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 2.5em; /* Default gap size */
  font-size: 1.2em; /* Default font size */
  color: #9aacea;
}

.nav-link-i {
  color: #9aacea;
  text-decoration: none;
  font-family: "OpenSans", Arial, sans-serif;
}

/* Smaller screens */
@media (max-width: 768px) {
  .nav-links {
    gap: 1em; /* Smaller gap */
    font-size: 1em; /* Smaller font size */
  }
}

/* Even smaller screens (e.g., phones) */
@media (max-width: 480px) {
  .nav-links {
    gap: 1.5em; /* Even smaller gap */
    font-size: 0.8em; /* Even smaller font size */
  }
}

.nav-links a:hover {
  text-decoration: none;
  color: #e18602;
}

.home-section {
  background-image: url("/public/images/bg-1.jpg");
  background-size: cover; /* Cover the entire section */
  background-position: center; /* Center the background */
  background-repeat: no-repeat; /* Do not repeat the image */
  min-height: 100vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Use different background image for phone screens */
@media only screen and (max-width: 767px) {
  .home-section {
    background-image: none;
    background: radial-gradient(
    circle at center, 
    #271751, /* Inner-most color */
    #07050a /* Outer-most color */

   
    
  );
  }
}

.center-image {
  text-align: center; /* Center the image horizontally */
  margin: auto; /* Center the container */
  max-width: 90%; /* Max width of the image container */
}

.center-image img {
  max-width: 100%; /* Max width relative to parent */
  height: auto; /* Keep aspect ratio */
}

/* Medium screens */
@media only screen and (min-width: 600px) {
  .center-image {
    max-width: 75%;
  }
  
}

/* Large screens */
@media only screen and (min-width: 900px) {
  .center-image {
    max-width: 50%;
  }
}


/* Other sections */
.about-section {
  background-image: url("/public/images/bg-2.jpg");
  background-size: cover; /* Cover the entire section */
  background-position: center; /* Center the background */
  background-repeat: no-repeat; /* Do not repeat the image */
  min-height: 100vh;
  padding: 2em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Use different background image for phone screens */
@media only screen and (max-width: 767px) {
  .about-section {
    background-image: none;
    background: radial-gradient(
    circle at center, 

    #160e2b, /* Inner-most color */
    #07050a  /* Outer-most color */
    
  );}
}

/* Existing styles */
.left-column {
  flex: 1;
  padding: 100px;
  line-height: 1.4;
  font-size: 1.5em;
}

.right-column {
  flex: 1;
  padding: 20px;
}

/* Responsive styles */

/* For tablets */
@media (max-width: 768px) {
  .left-column {
    flex: 1.7;
    padding: 10px;
    font-size: 1.2em; /* Adjust font size */
  }
  .right-column {
    padding: 10px;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .left-column {
    flex: 1.7;
    padding: 5px;
    font-size: 1em; /* Adjust font size */
    line-height: 1.2; /* Adjust line height */
  }
  .right-column {
    padding: 5px;
  }
}

.explore-button {
  background-color: transparent;
  border: 1px solid white; /* Rounded white border */
  border-radius: 30px; /* Rounded corners */
  color: white;
  font-size: 0.6em;
  padding: 5px 60px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explore-button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Slightly visible on hover */
}

.lithium-section {
  background-image: url("/public/images/bg-3.jpg");
  background-size: cover; /* Cover the entire section */
  background-position: center; /* Center the background */
  background-repeat: no-repeat; /* Do not repeat the image */
  min-height: 100vh;
  padding: 2em;
  padding-top: 7em;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

.lithium-two-columns-section {
  display: flex;
  align-items: flex-start; /* Not centered vertically */
  justify-content: space-between;
}

.lithium-left-column{
  flex: 1;
}

.lithium-right-column {
  flex:3;
  text-align: right;
}

.lithium-right-column h2 {
  font-size: 2.6em;
}

.lithium-right-column p {
  font-size: 1.8em;
}

.lithium-learnmore-button {
  background-color: transparent;
  border: 1px solid black; /* Rounded white border */
  border-radius: 30px; /* Rounded corners */
  color: black;
  font-size: 0.9em;
  padding: 5px 60px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Responsive Styles */

/* Small devices (landscape phones, up to 576px) */
@media (max-width: 576px) {
  .lithium-right-column h2 {
    font-size: 2em;
  }

  .lithium-right-column p {
    font-size: 1.2em;
  }

  .lithium-learnmore-button {
    font-size: 0.8em;
    padding: 5px 40px;
  }
}

/* Medium devices (tablets, up to 768px) */
@media (max-width: 768px) {
  .lithium-two-columns-section {
    flex-direction: column;
  }

  .lithium-left-column, .lithium-right-column {
    flex: 1;
    text-align: center;
  }

  .lithium-learnmore-button {
    font-size: 0.85em;
    padding: 5px 50px;
  }
}


.team-section {
  background-image: url("/public/images/bg-4.jpg");
  background-size: cover; /* Cover the entire section */
  background-position: center; /* Center the background */
  background-repeat: no-repeat; /* Do not repeat the image */
  min-height: 100vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .team-section {
    background-image: none;

    background-image: linear-gradient(to bottom, #07050a,#160e2b,#515b94, #613f02); /* Replace with the gradient you want */
  }
}

/* Use different background image for phone screens 
@media only screen and (max-width: 767px) {
  .team-section {
    background-image: url("/public/images/bg-4-mobile.jpg");
  }
}*/
/* Default Style */
.centered-text {
  color: white;
  width: 60%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  text-align: center;
  margin: 0 auto; /* centers the div */
}

/* For tablets */
@media (max-width: 768px) {
  .centered-text {
    width: 80%;
    font-size: 1.1em;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .centered-text {
    width: 100%;
    font-size: 1em;
  }
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 columns */
  grid-template-rows: auto auto; /* 2 rows */
  gap: 30px; /* General gap */
  column-gap: 100px; /* Increase this to increase the horizontal gap */
  padding: 20px;
}

/* Individual grid items */
.grid-item {
  background-color: transparent; /* Transparent background */
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

/* Style the image, title, and body text within each grid item */
.grid-item img {
  width: 50%;
  height: auto;
  border-radius: 8px;
}

/* Default Style */
.grid-item h3 {
  margin: 10px 0;
  font-size: 1.2em;
  color: #9aacea;
}

.grid-item p {
  font-size: 0.8em;
  line-height: 1.2em;
  color: white;
}

/* For tablets */
@media (max-width: 768px) {
  .grid-item h3 {
    font-size: 1.1em;
  }

  .grid-item p {
    font-size: 0.75em;
    line-height: 1.1em;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .grid-item h3 {
    font-size: 1em;
  }

  .grid-item p {
    font-size: 0.7em;
    line-height: 1em;
  }
}

/* Media queries for responsiveness */

/* For tablets */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr; /* 2 columns */
    gap: 24px;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr; /* 1 column */
    gap: 16px;
  }
}

.sustainability-section {
  background-image: url("/public/images/bg-5.jpg");
  background-size: cover; /* Cover the entire section */
  background-position: center; /* Center the background */
  background-repeat: no-repeat; /* Do not repeat the image */
  min-height: 100vh;
  padding: 2em;
  padding-top: 7em;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

/* Default styles */
.sustainability-two-columns-section {
  display: flex;
  align-items: flex-start; /* Not centered vertically */
  justify-content: space-between;
  padding: 20px;
}

.sustainability-left-column {
  flex: 1;
  font-size: 3em;
  font-family: "OpenSans", Arial, sans-serif;
  justify-content: center;
  color: white;
  font-weight: bold;
  align-items: center;
  padding: 50px;
}

.sustainability-right-column {
  flex: 1.5;
  font-size: 1.5em;
  font-family: "OpenSans", Arial, sans-serif;
  color: white;

}

.sustainability-left-column h2 {
  text-align: center;

}


/* Responsive styles */

/* For tablets */
@media (max-width: 768px) {
  .sustainability-section {
    padding-top: 2em;

  }


  .sustainability-left-column {
    font-size: 2em;
  }
  .sustainability-right-column {
    font-size: 1.2em;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .sustainability-two-columns-section {
    flex-direction: column; /* Stack them vertically */
  }

  .sustainability-left-column,
  .sustainability-right-column {
    flex: 1; /* Take full width */
    padding: 0px;

  }

  .sustainability-left-column {
    font-size: 1.5em;
  }

  .sustainability-right-column {
    font-size: 1em;
  }
}

/* Your existing styles for the contact section */
.contact-section {
  background-image: url("/public/images/bg-6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;  /* To center the content vertically */
  position: relative;
  min-height: 100vh;  

}

/* Use different background image for phone screens */
@media only screen and (max-width: 767px) {
  .contact-section {
   
    min-height: 100vh;
    align-items:flex-start;
    justify-content: flex-start;  /* To center the content vertically */
    background-image: url("/public/images/bg-6-mobile.jpeg");
  }
}


/* Your existing styles for the two columns layout */
.contact-two-columns-section {
  display: flex;
  align-items: center; /* Not centered vertically */
  justify-content: space-between;
}

.contact-left-column {
  flex: 1;
}


.contact-right-column {
  flex: 1;
  font-size: 1.5em;
  font-family: "OpenSans", Arial, sans-serif;
  color: white;
  
}
.contact-right-column p {
  width: 80%;
}
/* Responsive Styles */

/* For screens smaller than 768px */
@media (max-width: 768px) {
  .contact-two-columns-section {
    flex-direction: column;
  }

  .contact-left-column,
  .contact-right-column {
    flex: 1;
    text-align: start;
  }

  .contact-right-column {
    font-size: 1.2em;
  }
  .contact-right-column p {
    margin-top: 50px;
    width: 100%;
  
  }
}

#footer-section {
  position: relative;
}

/* Footer Styles */
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #160e2b;
  color: white;
  font-family: "OpenSans", Arial, sans-serif;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 4px solid #e18602;

}

/* Existing styles for .footer-column, .logo-column, .info-column, .title-row, .info-row, .info-section, and .logo */



.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-column {
  flex: 3;
  justify-content: center;
align-items: center;
}

.info-column {
  flex: 3;
}

.title-row {
  text-align: left;
  font-size: 1.5em;

}

.info-row {
  display: flex;
  justify-content: space-between;
}

.info-section {
  flex: 1;
  font-size: 0.8em;
  font-family: "OpenSans", Arial, sans-serif;
}

.logo {
  max-width: 300px;
}
/* Responsive styles */
@media (max-width: 768px) {
 
  .footer {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .info-row {
    flex-direction: column;
    align-items: left;
  }
}